.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    margin: 15px 0;
    background-color: transparent;
    flex-wrap: wrap; /* Đảm bảo rằng các phần tử phân trang tự động xuống dòng nếu không đủ không gian */
}

.pageItem {
    font-size: 14px;
    font-weight: 400;
    color: #b0b0b0;
    cursor: pointer;
    padding: 3px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.pageItem:hover {
    background-color: var(--primary);
    color: var(--white);
}

.activePage {
    font-size: 14px;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    padding: 3px 10px;
    border-radius: 5px;
    position: relative;
    pointer-events: none; /* Đảm bảo không thể click vào trang active */
}

.navButton {
    border: none;
    background-color: transparent;
    color: #007bff;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%;
}

.navButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.navButton:hover:not(:disabled) {
    color: #0056b3;
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .pageItem {
        font-size: 12px;
        padding: 5px 6px;
        color: var(--black);
    }

    .navButton {
        font-size: 14px;
    }
}
