.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
    margin: 15px 0;
    background-color: transparent;
}

.pageItem {
    font-size: 14px;
    font-weight: 400;
    color: #b0b0b0;
    cursor: pointer;
    padding: 3px 10px;
    transition: color 0.3s ease, transform 0.3s ease;
    border: 1px solid;
}

.pageItem:hover {
    background-color: var(--primary);
    color: var(--white);
}
.postImage:hover {
    transform: scale(1.15);
}
.activePage {
    font-size: 14px;
    font-weight: bold;
    background-color: var(--primary);
    position: relative;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 3px 10px;
    color: var(--white);
    border: 1px solid;
}

.activePage:hover {
    /* transform: scale(1.15); */
    color: var(--white);
}

/* Nút điều hướng */
.navButton {
    border: none;
    background-color: transparent;
    color: #007bff;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 50%;
}

.navButton:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.navButton:hover:not(:disabled) {
    color: #0056b3;
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .pageItem {
        font-size: 12px;
        padding: 5px 6px;
        color: var(--black);
    }

    .navButton {
        font-size: 14px;
    }
}
