.textLogo {
  font-family: "Kranky", serif;
  font-size: 2.4rem;
}
.loginButton, .registerButton {
  transition: background-color 0.3s, color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.loginButton:hover {
  background-color: #0056b3;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.registerButton:hover {
  background-color: #f0f0f0;
  color: #0056b3;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
