.eventItem {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
}

.eventImage {
    position: relative;
    overflow: hidden;
    img {
        border-radius: 0.5rem 0 0 0.5rem; // Làm tròn góc bên trái
    }
}
