.eventListContainer {
    padding-top: 80px;
    width: 100%;
    max-width: 1200px;  /* Giảm chiều rộng */
    min-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding-bottom: 100px;  /* Giảm padding dưới */
    box-sizing: border-box;
}

.eventList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
