.mainContent {
    height: auto;
    padding: 1rem;

    @media (min-width: 768px) {
        padding: 2rem;
    }
    @media (min-width: 1024px) {
        padding: 8rem;
        padding-top: 2rem;
    }
}
.vanNgheSection{
    padding-top: 5rem;
}
.titleHeading{
    font-family: 'Roboto', sans-serif;
}